.row{
    border: 3px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    padding: 10px;
    width: 500px;
    margin-left: 500px;
}
.box{
    h1{
        text-align: center;
    }
    mat-form-field{
        width: 250px;
        text-align: center;
    }
}
  button{
      background-color: blue;
      color: white;
      height: 50px;
      width: 200px;
  }

//   input.ng-invalid{
//       border: 5px solid red;
//   }

//   input.ng-valid{
//       border-left: 5px solid green;
//   }

// .error{
//     color:red;
// }
  
  