<div class="container">
    <div class="content">
        <div class="content1">
            <img style="object-fit: cover;" src="assets/images/1.jpg" alt="girl image">
            <h1>TRIMS</h1>
        </div>
        <div class="content2">
            <img style="object-fit: cover; width: 257px; margin-left: 50px;" src="assets/images/2.jpg" alt="boy image">
            <h1>FABRICS</h1>
        </div>
        <div class="content3">
            <img style="object-fit: cover; height:430px; width:250px; margin-left:38px; margin-top: 20px;"
                src="assets/images/3.jpg" alt="tone jean">
            <h1>WASHES</h1>
        </div>
        <div class="content4">
            <img style="object-fit: cover; height:450px; width:266px; margin-left:15px; margin-top:20px ;"
                src="assets/images/4.jpg" alt="boy image">
            <h1>STYLES</h1>
        </div>
    </div>
</div>