.content{
    float: left;
    width: 100%;
}
.content1{
    float: left;
    width: 25%;
    border: 3px solid red;
}
.content2{
    float: left;
    width: 25%;
    border: 3px solid red;
}
.content3{
    float: left;
    width: 26%;
    border: 3px solid red;
}
.content4{
    float: right;
    width: 22%;
    border: 3px solid red;
}
