<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="regimage">
                <img src="/assets/images/01.jpg">
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="roundedimg">
                <div style="padding-top: 20px;padding-bottom: 20px;">
                    <img src="/assets/images/06.png" class="rounded-circle">
                </div>
                <div class="button" style="text-align: center;">
                    <!-- <!-- <button mat-stroked-button>Register</button>
                </div>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example thumbs up icon">Thumbs up</mat-icon>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Clearable input</mat-label>
                    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                      <mat-icon>close</mat-icon> -->
                    <!-- </button> -->
                    <!-- </mat-form-field> -->--> -->

                </div>
            </div>
        </div>
        <div class="buttonclick">
            <p id="first"></p>
        <button mat-raised-button (click)="getName('leena')" >Click me</button>
        </div>
    </div>